* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: all .5s;
}

button {
    cursor: pointer;
    background-color: transparent;
    padding: .8rem;
    border-radius: .5rem;
    font-size: 1rem;
    border: 2px solid rgba(134, 130, 130, .8);
    color: rgb(134, 130, 130);
    transition: all .5s;
}

button:hover {
    background-color: rgb(134, 130, 130);
    color: #fff;
}